.build/
.idea/
.swiftpm/
Fuel.xcodeproj/project.xcworkspace/xcuserdata/
Fuel.xcodeproj/project.xcworkspace/xcshareddata/
Fuel.xcodeproj/xcuserdata/brad.xcuserdatad/xcdebugger/
Fuel.xcodeproj/xcuserdata/brad.xcuserdatad/xcschemes/Fuel.xcscheme
